target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*/target/
*/mvn/timing.properties
*/buildNumber.properties
*/dependency-reduced-pom.xml
*/release.properties
*/pom.xml.next
*/pom.xml.versionBackup
*/pom.xml.releaseBackup
*/pom.xml.tag
